################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/config/applicationhost.config
/.vs/config
